/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : Mar 23, 2022, 3:57:13 PM
    Author     : USER
*/

.event a {
    background-color: #5FBA7D !important;
    color: #ffffff !important;
}

.delivery a {
    background-color: #ffc107 !important;
    color: #ffffff !important;
}

/* print btn  */
.print-btn-style{
    padding: 2px 12px;
    border-radius: 3px;
    background-color: #e2e2e2;
    border: 1px solid #858585;
    transition: ease-in 0.1s;
    outline: none;
}

.print-btn-style:hover{
  background-color: #007bff;
  color: #fff;
}

.print-btn-style:focus-visible,
.print-btn-style:focus{
  outline: none;
}
