


.button-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #2196F3;
  color: white;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  border: none;
  outline: none;
}
.button-count:active {
  background-color: #1565C0;
}

.number-product {
  display: inline-block;
  width: 46px;
  height: 28px;
  font-size: 24px;
  border: 1px solid silver;
  text-align: center;
}

:disabled {
  background-color: silver;
}