/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/


.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position:relative;
}
.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding:10px;
    margin:10px;
    background:#f1f1f1;
    color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute;
    border-radius:50%;
    top:calc(50% - 20px);
}
.MultiCarousel .leftLst {
    left:0;
}
.MultiCarousel .rightLst {
    right:0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background:#ccc;
}

/*

.bg-login-image {
    background-image: url(../../images/basket.jpg);
}

.login-logo {
    width: 150px;
    margin-bottom: 25px;
}

.topbar-name {
    font-size: 28px;
    font-weight: bold;
}

.sidebar .sidebar-brand {
    background-color: #fff;
    border-right: 1px solid #ddd;
}

.bg-gradient-primary {
    background-color: #000000;
    background-image: linear-gradient(
        180deg
        ,#15a1d5 10%,#0d6efd 100%);
    background-size: cover;
}

.chart-area {
    height: 100% !important;
}

#example tr td:last-child {
    white-space: nowrap;
}

.top-logo {
    width: 100px;
}

.card.item-card {
    margin-bottom: 30px;
}

.item-image {
    height: 200px;
    overflow: hidden;
}

.item-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#map {
    height: 100%;
}

.dtsb-button {
    border: 0;
    border-radius: .35rem;
}

.product-card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-right: 1px solid #eee;
    border-radius: .35rem 0 0 .35rem;
}

.card-body .nav.nav-tabs {
    margin-bottom: 20px;
}

.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.badge {
    background-color: #4e73df !important;
    color: #fff;
    padding: .25em .4em !important;
}

.badge .close {
    margin-left: 5px;
    text-shadow: none;
}

.badge + .badge {
    margin-left: 3px;
}

.large-img {
    height: 100%;
}

.large-img > a {
    display: block;
    height: 100%;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.colour-block {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    transition: all .2s ease;
}

.colour-block-inner {
    width: 100%;
    height: 100%;
    display: block;
}

.colour-block:hover {
    text-decoration: none;
    box-shadow: 0 0 5px;
}

.comment-reply {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 25px;
}
*/